*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* width: 80vw; */
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

html {
  /* width: 100%; */
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*
  Header styles
*/
.header {
  /* width: auto; */
  height: 7rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: darkgray;
}
.header-content {
  padding: 1rem 1.8rem;
  height: 7rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.header-content h3 {
  margin-left: auto;
  font-size: 2.5rem;
}

.main-nav {
  width: 100%;
  background-color: darkgrey;
  position: sticky;
  top: 7rem;
  border: none;
  display: none;
}
.main-nav__items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-nav__items a {
  color: white;
  font-size: 1.9rem;
  text-decoration: none;
}
.main-nav__item {
  padding: 2rem;
}
/*
  Toggle Button in header
*/
.toggle-button {
  /* height: 7rem; */
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: auto;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.3rem;
  background: black;
  display: block;
  margin-top: 0.6rem;
}
/* .toggle-button__bar:not(:first-of-type) {
  margin-top: 0.6rem;
} */
/* .toggle-button__bar:not(:last-of-type) {
  margin-bottom: 0.6rem;
} */

/* 
  Main page styles
*/
.main {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33rem, 35rem));
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container {
  margin: 1.5rem 1.5rem;
  font-size: 2.7rem;
}

.content-container {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.left {
  margin-right: 2rem;
}

.left img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.state-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.state {
  font-weight: 600;
}

.status {
  font-size: 1.1rem;
}

.image-version {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  margin-right: 4rem;
}

.source a {
  text-decoration: none;
}

/*
    Detail page
*/
.detail-content {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-info {
  height: 17rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-column-gap: 4rem;
  grid-template-columns: 10rem auto;
  justify-items: start;
  align-items: start;
}
.container-name {
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

.container-state {
  margin-right: 3rem;
}
.container-status {
  font-size: 1.1rem;
}
.label {
  font-size: 1.6rem;
  font-weight: 600;
}

.load-button {
  height: 5rem;
  padding: 5px;
  margin-top: 1rem;
  background-color: green;
  color: white;
  font-size: 2.3rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1 0 auto;
}
.logs {
  max-width: 610px;
  max-height: 60rem;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 5px 0px #919;
}
pre {
  word-wrap: break-word;
  text-align: justify;
  font-family: "Andale Mono WT";
  font-size: 1.3rem;
  line-height: 2rem;
  white-space: pre-wrap;
  padding: 2rem;
}

@media (max-width: 600px) {
  .page-content {
    height: 100vh;
  }
  .header {
    margin-bottom: 0;
  }

  .logs {
    max-height: 60vh;
  }
}

.open {
  display: block !important;
}
