:root {
  --primary-font-color: #bdc6e6;
  --secondary-font-color: #3b415b;
  --primary-color: #ccc;
  --secondary-color: #495272;
  --third-color: #3e455d;
  --card-color: whitesmoke;
  --fifth-color: #282a32;
  --sixth-color: #1d1d1d;
  --on-background: whitesmoke;
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
[data-theme="dark"] {
  --primary-font-color: #cccccc;
  --secondary-font-color: #cccccc;
  --primary-color: #282a32;
  --secondary-color: #495272;
  --link-color: #556088;
  --on-background: #282a32;
  --card-color: #333747;
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* width: 80vw; */
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--on-background);
  color: var(--secondary-font-color);
}

html {
  /* width: 100%; */
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*
  Header styles
*/
.header {
  /* width: auto; */
  height: 7rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}
.header-content {
  padding: 1rem 1.8rem;
  height: 7rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.header-content h3 {
  margin-left: 2rem;
  font-size: 2.2rem;
}

.main-nav {
  width: 100%;
  background-color: var(--secondary-color);
  position: sticky;
  top: 7rem;
  border: none;
  display: none;
}
.main-nav__items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-nav__items a {
  color: var(--primary-font-color);
  font-size: 1.9rem;
  text-decoration: none;
}
.main-nav__item {
  padding: 2rem;
}
/*
  Toggle Button in header
*/
.toggle-button {
  /* height: 7rem; */
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: auto;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.3rem;
  background-color: var(--primary-font-color);
  display: block;
  margin-top: 0.6rem;
}

/* 
  Main page styles
*/
.main {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33rem, 35rem));
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 2rem;
}
.main a:link {
  text-decoration: none;
  color: var(--secondary-font-color);
}

.card {
  box-shadow: var(--card-shadow);
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--card-color);
  color: var(--secondary-font-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container-header {
  margin-bottom: 1.5rem;
  font-size: 2.7rem;
  color: var(--secondary-font-color);
}

.content-container {
  /* padding-bottom: 2rem; */
  display: flex;
  /* justify-content: space-between; */
  align-content: center;
}

.left {
  margin-right: 2rem;
}

.left img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.right {
  width: 100%;
}

.state-status {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.state {
  font-weight: 600;
  margin-right: auto;
}

.status {
  font-size: 1.1rem;
}

/*
    Detail page
*/
.detail-content {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-info {
  height: 17rem;
  padding-bottom: 1.5rem;
  display: grid;
  grid-column-gap: 4rem;
  grid-template-columns: 10rem auto;
  justify-items: start;
  align-items: start;
}
.container-name {
  font-size: 2.3rem;
  padding-bottom: 2rem;
}

.container-state {
  margin-right: 3rem;
}
.container-status {
  font-size: 1.1rem;
}
.label {
  font-size: 1.6rem;
  font-weight: 600;
}

.load-button {
  height: 5rem;
  padding: 5px;
  margin-top: 1rem;
  background-color: green;
  color: white;
  font-size: 2.3rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1 0 auto;
}
.logs {
  max-width: 610px;
  max-height: 60rem;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 2px 5px 0px #919;
}
pre {
  word-wrap: break-word;
  text-align: justify;
  font-family: "Andale Mono WT";
  font-size: 1.3rem;
  line-height: 2rem;
  white-space: pre-wrap;
  padding: 2rem;
}
/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  margin-left: auto;
  /* position: fixed;
  right: 25px;
  top: 30px; */
}

.theme-switch-wrapper span {
  font-size: 0.9rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 43px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: var(--primary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 20px;
  margin-right: 0.4rem;
}

@media (max-width: 600px) {
  .page-content {
    height: 100vh;
  }
  .header {
    margin-bottom: 0;
  }

  .logs {
    max-height: 60vh;
  }
  .toggle-text {
    display: none;
  }
}

.open {
  display: block !important;
}
